{% extends 'master.html' %}
{%load static%}

{%block body%}
<body class="bg-black">
    <div class="container-fluid">
        <div class="row">
            {% for i in data %}
            <div class="col-4">
                <div class="card">
                  <img src="{{i.blog_image}}" class="card-img-top" alt="..." style="width: 25.33rem; height:17rem">
                  <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <p class="card-text">{{i.descriptions}}</p>
                    <p class="card-text"><small>{{i.posttime}}</small></p>
                  </div>
                  <div class="card-footer">
                    <a href="view_blog_page/{{i.id}}"><button class="btn btn-danger">View Blog</button></a>
                  </div>
                </div>
              </div>
              {%endfor%}
        </div>    
    </div>>


</body>

{%endblock%}