{% load static %}

<style>
  .nav-link:hover{  
    color: rgb(240, 236, 235);
  }
  .nav-link{
    color: rgb(238, 73, 62);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  .navbar-brand{
    font-size: 25px;
    margin-bottom: -5px;
    font-weight: bolder;
  }
  .navbar{
    background-color: transparent;
  }
</style>

{% block body %}
<nav class="navbar navbar-expand-lg bg-black" style="background:rgb(10, 10, 10)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><span style="color: rgb(238, 73, 62)">Tech</span><span style="color: rgb(240, 236, 235)">SOFT</span></a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        
        {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="see_all">Blog</a>
                </li> 
                <li class="nav-item">
                  <a class="nav-link" href="userslist">Users</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="create_blog">Write</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="user_home">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="download">Download</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-light"  href="user_logout">logout</a>
                </li>
                
        {% else %}  
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="new_user_register">Register</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="user_login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Locations</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="see_all">Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Company</a>
                </li>
        {% endif %}

      </ul>
  </div>
</div>
</nav>



{% endblock %}